@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-size: 1.2rem;
  color: black;
}
body {
  font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  padding: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
h2 {
  color: rgba(255, 255, 255, 0.635);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: antiquewhite;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;

}
button:hover{
  background-color: black;
  color: white;
}

img{
  width: 100%;
  height: 100%;
}
/* next */
.FLEX {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.FEX-C{
  display: flex;
  justify-content: center;
  align-items: center;
}
.FLEX_WRAP {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  
}
.scroll{
  overflow: auto;
  /* height: 50vh; */
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.FLEX_C{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-shadow{
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.box-shadow:hover{
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}